@{
    ViewBag.Title = "کاربران";
}

@section js{
    <script src="~/js/initView/users-v.1.js"></script>
    <script src="~/js/viewModel/users-v.1.js"></script>
    <script>
        var viewModel;
        $(function () {
            viewModel = initVM({
                searchUrl: '@Url.Action("Search")',
            });

            kendo.bind($('#container'), viewModel);
            initView(viewModel);
        });
    </script>

}

<h2>لیست کاربران</h2>

<div class="wide">
    <form id="Form" data-role="validator" novalidate="novalidate" action="@Url.Action("Search")" method="post">
        <section class="well">
            <h2 class="ra-well-title" data-bind="visible: titleIsVisible">جستجو بر اساس</h2>
            <div class="clearfix"></div>
            <div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">نام</label>
                        <div class="col-sm-8 col-md-6">
                            <input data-bind="value: firstName" class="k-textbox x1" maxlength="50" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4">نام خانوادگی</label>
                        <div class="col-sm-8 col-md-6">
                            <input data-bind="value: lastName" class="k-textbox x1" maxlength="50" />
                        </div>
                    </div>
                </div>
                <div class="form-horizontal form-widgets col-sm-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4">کد ملی</label>
                        <div class="col-sm-8 col-md-6">
                            <input data-bind="value: nationalCode" class="k-textbox x1" maxlength="11" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="buttons-wrap">
                <button type="button" class="k-button k-state-default k-primary" data-role="button" data-bind='click: onSearch'>جستجو</button>
            </div>
            <div class="clearfix"></div>
            <br />&nbsp;<br />
            <div class="clearfix"></div>
            <div>
                <h4>نتایج جستجو: لیست کاربران</h4>
                <div id="grid"></div>
            </div>


        </section>
    </form>
</div>