<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="SyndromeDBEntities" connectionString="metadata=res://*/SyndromeModel.csdl|res://*/SyndromeModel.ssdl|res://*/SyndromeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.10;initial catalog=Sandromic;persist security info=True;user id=sandrom;password=syndrom91;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <add name="SyndromeDBEntities" 
         connectionString="metadata=res://*/SyndromeModel.csdl|res://*/SyndromeModel.ssdl|res://*/SyndromeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sandromic;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>