<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SyndromicWebApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="SyndromeDBEntities" connectionString="metadata=res://*/SyndromeModel.csdl|res://*/SyndromeModel.ssdl|res://*/SyndromeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.10;initial catalog=Sandromic;persist security info=True;user id=sandrom;password=syndrom91;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="SyndromeDBEntities" connectionString="metadata=res://*/SyndromeModel.csdl|res://*/SyndromeModel.ssdl|res://*/SyndromeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sandromic;persist security info=True;user id=sa;password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="SyndromeDBEntities" 
         connectionString="metadata=res://*/SyndromeModel.csdl|res://*/SyndromeModel.ssdl|res://*/SyndromeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Sandromic;user id=sa; password=123;multipleactiveresultsets=True;App=EntityFramework&quot;" 
         providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="HealthcareFacilityID" value="e2411320-a34f-30b1-62a9-01388fbdb9f0" />
    <add key="sepasSystemID" value="2135012b-9c59-d048-323c-01c2e3365412" />
    <add key="sepasLocationID" value="d2fb9548-6544-41b1-a8df-c68945fee716" />
    <add key="SystemID" value="9813e5af-8858-c49b-1601-5868a6cf1354" />
    <add key="UserNamePerson" value="Asgari" />
    <add key="PasswordPerson" value="123" />
    <add key="UsernameSMS" value="behdasht" />
    <add key="PasswordSMS" value="Behdasht#1490" />
    <add key="Timer" value="5" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="sso:applicationName" value="Syndromic" />
    <add key="sso:applicationId" value="101" />
    <add key="sso:domainName" value="" />
    <add key="sso:url" value="http://localhost/SSO/" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="resourceUrl" value="http://192.168.0.10/ResponsiveResource/" />-->
    <add key="resourceUrl" value="http://localhost/Resource/" />
    <!--<add key="basicDataUrl" value="http://localhost/syndromic/" />-->
    <add key="basicDataUrl" value="http://localhost/UI" />
    <add key="startupUrl" value="/Home" />
    <add key="virtualDirectoryName" value="Syndromic" />
    <add key="labUrl" value="/Lab/LabReport" />
    <add key="labCanSetDate" value="true" />
    <add key="rootFolder" value="syndromicwebapp" />
    <!--<add key="ResponsiveResourceUrl" value="http://192.168.0.10/ResponsiveResource/Plugin/Kendo_Responsive/" />-->
    <add key="ResponsiveResourceUrl" value="http://localhost/resource/Plugin/Kendo_Responsive/" />

    <add key="queueSms" value="false" />


    <add key="NumberOfBulkRequest" value="1421" />
    <add key="downloadPath_MobileGuide" value="~/Content/pdf/UserManualMob.pdf" />
    <add key="downloadPath_AndoidAppGuide" value="~/Content/pdf/guid.pdf" />
    <add key="downloadPath_AndoidApp" value="~/Content/Software/Syndromic.apk" />
    <add key="downloadPath_FluRawForm" value="~/Resources/Influenza-raw.pdf" />
    <add key="downloadPath_DiarheaRawForm" value="~/Resources/Diarhea-raw.pdf" />
    <add key="downloadPath_TanafosiRawForm" value="~/Resources/Tanafosi-raw.pdf" />

  </appSettings>
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"
        validate="false" />
    </httpHandlers>
    <httpModules>
      <remove name="RoleManager" />
    </httpModules>
    <sessionState sessionIDManagerType="Sso.UMProxy.SsoSessionManager" />
    <httpRuntime />
    <machineKey validationKey="157D2DCDD3299449RD4C15DGFC06C9D7742CDEB5CC6B2F3146A954TR4C98182FF0HF97E63FFE44YU7K37412DAEAEA41DE12DA90FB21320D6467E5282A7ADDC" decryptionKey="7JU1C60AREEB8831524C03B273F6963BCA8GTB3CCECBA7U4" validation="SHA1" decryption="3DES" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms path="/" domain="" loginUrl="/SSO/login" timeout="2880" defaultUrl="~/UI/Home" enableCrossAppRedirects="true" />
    </authentication>
    <authorization>
      <allow roles="Admin,Center,Network,University,Lab" />
      <deny users="*" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <!--<add namespace="System.Web.Optimization" />-->
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--<sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>-->
    <customErrors mode="Off">

    </customErrors>
  </system.web>
  <location path="css">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="CP">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="RoleManager" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISSO" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://server-pc/UserManagement.SSOService/SSO.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISSO" contract="SSO.ISSO" name="BasicHttpBinding_ISSO" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <SyndromicWebApp.Properties.Settings>
      <setting name="SyndromicWebApp_Sepas_SyndromicCaseService" serializeAs="String">
        <value>http://ehrreptest.behdasht.gov.ir/AdaptorRepeater/SyndromicCaseService.asmx</value>
      </setting>
    </SyndromicWebApp.Properties.Settings>
  </applicationSettings>
</configuration>